html, body {
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    border: 8px double silver;
    flex-wrap: nowrap;
    min-height: 97%;
    min-width: 97%;
    background-color: black;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 86%;
    margin: 5%;
    /* position: absolute; */
    background-color: #3f3f3f;
    border: 2px double black;
    /* background-image:url('image/background.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    /* filter:blur(4px); */
}

.login {
    /*
    top: 45%;
    left:45%; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
    text-align: center;
    background-image: url('image/login.jpeg');
    background-size: 100% 100%;
    animation-name: example;
    animation-duration: 6S;
}

.portfolio {
    width: 90%;
    min-height: 86%;
    margin: 5%;
    position: relative;
    background-color: #004155;
    /* border: 2px double black;
    background-image:url('image/background.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    /* filter:blur(4px); */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* position: relative; */
    bottom: 0;
    width: 90%;
    min-height: 70px;
    /* background-color: #e1e4ea; */
    margin-left: 5%;
    border-radius: 7px;
    /* overflow: hidden; */
}

.icon {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    min-width: 55px;
    min-height: 55px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.home {
    background-image: url(image/png/home.png);
    background-size: 100% 100%;
}

.contact {
    background-image: url(image/png/contact.png);
    background-size: 100% 100%;
}

.login:hover {
    width: 165px;
    height: 165px;
    border: 5px solid black;
}

article {
    overflow: auto;
    text-align: justify;
    color: white;
    max-width: 96%;
    max-height: 68vh;
    margin: 0 2%;
    border-radius: 10px;
}

/*@media screen and(max-width: 675px) {
    .login {
        width: 50px;
        height: 50px;
    }
    .main {
        animation-name: rotatemain;
        animation-duration: 1s;
    }
    .icon {
        min-width: 45px;
        min-height: 45px;
    }
    .login:hover {
        width: 55px;
        height: 55px;
        border: 5px solid black;
    }
}
*/

@media only screen and (max-width: 600px) {
    .icon {
        min-width: 45px;
        min-height: 45px;
    }
}

@media screen and (max-width: 1024px) {
    
    .bottom {
        display: none;
    }
    .login {
        width: 100px;
        height: 100px;
    }
    .portfolio {
        animation-name: rotatemain;
        animation-duration: .30s;
    }
    .main {
        animation-name: rotatemain;
        animation-duration: .30s;
    }
    .login:hover {
        width: 105px;
        height: 105px;
        border: 5px solid black;
    }
    
}

@keyframes example {
    0% {
        border: 3px solid red;
        transform: rotate(0deg);
        left: 7.5%;
        top: 7.5%;
    }
    20% {
        border: 3px solid rgb(6, 199, 15);
        transform: rotate(200deg);
        left: 45%;
        top: 72%;
    }
    60% {
        border: 3px solid rgb(19, 59, 172);
        transform: rotate(600deg);
        left: 77%;
        top: 10%;
    }
    /* 80% {background-color:red; left:45%; top:7.5%;} */
    80% {
        transform: rotate(20deg);
    }
    100% {
        border: 3px solid #0c0c0a;
        transform: rotate(0deg);
        left: 45%;
        top: 45%;
    }
    /* 100% {position:fixed;} */
}

@keyframes rotatemain {
    0% {
        transform: rotate(90deg);
    }
}