body{
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right:  */
    margin: 1em auto;
    width: 70%;
    font-family: sans-serif;
    color:blue;
    text-align: center;
}

main, footer{
    margin: 1em auto;
}