html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.text1 {
    color: green;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    border: 8px double silver;
    min-height: 97%;
    min-width: 97%;
    background-color: black;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 86%;
    margin: 5%;
    /* position: absolute; */
    background-color: #3f3f3f;
    border: 2px double black;
    /* background-image:url('image/background.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    /* filter:blur(4px); */
}

.login {
    /*
    top: 45%;
    left:45%; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
    background-image: url('image/login.jpg');
    background-size: 100% 100%;
    animation-name: example;
    animation-duration: 4S;
}

.bio{
    display:flex;
    flex-wrap: wrap;
    /* position: relative; */
    overflow-x: hidden;
}

.picture {
    position: relative;
    left: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('image/login.jpg');
    background-size: 100% 100%;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 86%;
    margin: 5%;
    position: relative;
    background-color: #004155;
    
    /* border: 2px double black;
    background-image:url('image/background.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    /* filter:blur(4px); */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* position: relative; */
    justify-content: space-between;
    width: 90%;
    min-height: 70px;
    /* background-color: #e1e4ea; */
    margin-left: 5%;
    border-radius: 10px;
    /* overflow: hidden; */
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    position: relative;
    text-align: justify;
    color: white;
    max-width: 96%;
    max-height: 68vh;
    margin: 0 2%;
    border-radius: 5px;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    min-width: 55px;
    min-height: 55px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.terminalicon {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 20px;
    background-image: url(image/png/folder-icon.png);
    background-size: 100% 100%;
}

.portfolioicon {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 20px;
    background-image: url(image/png/folder-icon.png);
    background-size: 100% 100%;
    margin-left: 25%;
}

.myskill {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: 10%;
}

.skillicon {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 10%;
}

.cssicon {
    background-image: url(image/png/css.png);
    background-size: 100% 100%;
}

.htmlicon {
    background-image: url(image/png/html-5.png);
    background-size: 100% 100%;
}

.giticon {
    background-image: url(image/png/git-logo.png);
    background-size: 100% 100%;
    background-color: white;
    border-radius: 50%;
}

.githubicon {
    background-image: url(image/png/github.png);
    background-size: 100% 100%;
}

.rubyicon {
    background-image: url(image/png/ruby.png);
    background-size: 100% 100%;
}

.roricon {
    background-image: url(image/png/ror.png);
    background-size: 100% 100%;
}

.nodejsicon {
    background-image: url(image/png/nod-logo.png);
    background-size: 100% 100%;
}

.jsicon {
    background-image: url(image/png/javascript.png);
    background-size: 100% 100%;
}

.reacticon {
    background-image: url(image/png/React-1.png);
    background-size: 100% 100%;
    background-color: white;
    border-radius: 50%;
}

.one {
    display:flex;
    flex-wrap: wrap;
    min-height: 90vh;
    min-width: 90vh;
    
    
}

.home {
    background-image: url(image/png/home.png);
    background-size: 100% 100%;
}

.project {
    background-image: url(image/png/project.jpg);
    background-color: red;
    background-size: 100% 100%;
}

.skill {
    background-image: url(image/png/skills.png);
    background-size: 100% 100%;
}

.history {
    background-image: url(image/png/wkhistory.png);
    background-size: 100% 100%;
}

.career {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
}

.side1 {
    max-width: 200px;
    min-height: 100px;
    background: silver;
    border: 3px solid burlywood;
    text-align: justify;
    overflow: hidden;
    margin: 1%;
    
}

.contact {
    background-image: url(image/png/contact.png);
    background-size: 100% 100%;
}

.contacticon {
    float: left;
    position: relative;
    top: 60%;
}

.contactlinkedin {
    width: 100px;
    height: 100px;
    background-image: url(image/png/linkedin.png);
    background-size: 100% 100%;
    margin: 20px;
}

.contactgithub {
    width: 100px;
    height: 100px;
    background-image: url(image/png/github.png);
    background-size: 100% 100%;
    margin: 20px;
}

.login:hover {
    width: 215px;
    height: 215px;
    border: 5px solid black;
}

.icon:hover {
    min-width: 60px;
    min-height: 60px;
}

@media screen and (max-width: 1024px) {
    .bottom {
        display: none;
    }
    .login {
        width: 140px;
        height: 140px;
    }
    .portfolio {
        animation-name: rotatemain;
        animation-duration: .30s;
    }
    .main {
        animation-name: rotatemain;
        animation-duration: .30s;
    }
    .login:hover {
        width: 145px;
        height: 145px;
        border: 5px solid black;
    }

    .myskill{
        max-width: 600px;
    }
    
}

@media only screen and (max-width: 600px) {
    .icon {
        min-width: 45px;
        min-height: 45px;
    }
    .login {
        width: 75px;
        height: 75px;
    }
    .login:hover {
        width: 80px;
        height: 80px;
        border: 5px solid black;
    }
    .picture{
        width:150px;
        height:150px;
    }
    .skillicon{
        width: 60px;
        height:60px;
        margin-top:1%;
    }

    .myskill{
        max-width: 300px;
        margin:0%;
    }
    
}

@keyframes example {
    0% {
        border: 3px solid red;
        transform: rotate(0deg);
        left: 7.5%;
        top: 7.5%;
    }
    20% {
        border: 3px solid rgb(6, 199, 15);
        transform: rotate(200deg);
        left: 45%;
        top: 72%;
    }
    60% {
        border: 3px solid rgb(19, 59, 172);
        transform: rotate(600deg);
        left: 77%;
        top: 10%;
    }
    /* 80% {background-color:red; left:45%; top:7.5%;} */
    80% {
        transform: rotate(20deg);
    }
    100% {
        border: 3px solid #0c0c0a;
        transform: rotate(0deg);
        left: 45%;
        top: 45%;
    }
    /* 100% {position:fixed;} */
}

@keyframes rotatemain {
    0% {
        transform: rotate(90deg);
    }
}